[RESEARCH] New RFC list

- [RFC 9112](https://datatracker.ietf.org/doc/html/rfc9112) : HTTP/1.1 --> obsoletes RFC 7230
- [RFC 9110](https://datatracker.ietf.org/doc/html/rfc9110) : HTTP Semantics --> obsoletes RFC 7231, 7232, 7233, 7235
- [RFC 9111](https://datatracker.ietf.org/doc/html/rfc9111) : HTTP Caching --> obsoletes RFC 7234